INFISICAL_DOMAIN={{ infra_ansible_deployer_infisical_domain }}
INFISICAL_PROJECT_ID={{ infra_ansible_deployer_infisical_project_id }}
INFISICAL_ENVIRONMENT={{ infra_ansible_deployer_infisical_environment }}
INFISICAL_UNIVERSAL_AUTH_CLIENT_ID={{ infra_ansible_deployer_runtime_secrets.INFISICAL_UNIVERSAL_AUTH_CLIENT_ID }}
INFISICAL_UNIVERSAL_AUTH_CLIENT_SECRET={{ infra_ansible_deployer_runtime_secrets.INFISICAL_UNIVERSAL_AUTH_CLIENT_SECRET }}

