Defaults!/usr/local/sbin/infra-ansible-deploy secure_path=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
github-runner ALL=(root) NOPASSWD:NOSETENV: /usr/local/sbin/infra-ansible-deploy ^[0-9a-f]{40}$
